*{
    margin: 0px;
  
    padding: 0px;
   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.bg-image-below-header{
    text-align: center;
    padding: 4rem 2rem;
    background-color: black;
}
.bg-image-below-header img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;

}

.text-color{
color: white;
text-align: center;
font-size: 80px;

}

.text-color-pargraph{
color: white;
text-align: center;
font-size: 15px;

}

.text-color-pargraph-1{
 
    width: 30%; 
    padding-right: 100px;
}

.img-body {
    width: 40%;
    height: auto;
}

.container{
  display: flex;
  align-items: center;

}

.header{
    color: white;
    font-size: 30px
}

.header-right{
    color: white;
    font-size: 30px;
    padding-left: 100px;
}
.text-color-pargraph-2{
    width: 30%; 
    padding-left: 100px;
}
.page-body {
    padding-top: 120px; /* Match AppBar height */
  }

