name: CI/CD React App to EC2

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm install --prefix ./client/samplebeats

      # Step 4: Build React/Vite
      - name: Build project
        run: npm run build --prefix ./client/samplebeats

      # Step 5: Upload dist folder to EC2
      - name: Upload build to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          source: "./client/samplebeats/dist/*"
          target: "/home/ec2-user/deploy/"

      # Step 6: Deploy inside EC2
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            sudo rm -rf /usr/share/nginx/html/*
            sudo cp -r /home/ec2-user/deploy/* /usr/share/nginx/html/
            sudo chown -R nginx:nginx /usr/share/nginx/html/
            sudo chmod -R 755 /usr/share/nginx/html/
